<svg width="500" height="100" class="result-circle">
  <g>
  <circle cx="50" cy="50" r="40" stroke="white" stroke-width="4" fill="#9C27B0" />
  <text x="22" y="60" font-family="Verdana" font-size="25" fill="white">{{this.actualCount}}</text>
  <text x="38" y="60" font-family="Verdana" font-size="25" fill="white">/11</text>
  <text x="95" y="57" font-family="Verdana" font-size="20" fill="#9C27B0">models found</text>
  <line x1="90" y1="60" x2="230" y2="60" style="stroke:white;stroke-width:1" />
  </g>
</svg>

<a-scene embedded arjs="debugUIEnabled: false; sourceType: webcam; trackingMethod: best; detectionMode: mono_and_matrix; matrixCodeType: 3x3;">
  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/A1Black.patt" id="test1-a" registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 0 0"
      obj-model="obj: url(https://darkscarletorchid.github.io/arQuest/assets/models/gold_star.obj);
            mtl: url(https://darkscarletorchid.github.io/arQuest/assets/models/gold_star.mtl)">
      <!--<a-animation attribute="scale" from="1 1 1" to="2 2 2" dur="5000" direction="alternate-reverse" easing="ease-in-out-circ" repeat="indefinite"></a-animation>-->
    </a-entity>
  </a-marker>

  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/A2Black.patt" id="test2-a" registerevents>

    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>


  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/M.patt" id="letter-m" registerevents>

    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
    </a-marker>

  <!--<a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/A1.patt" id="letter-a1" registerevents>-->
    <!--<a-entity-->
      <!--id="model"-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/T.patt" id="letter-t"  registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>

  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/E1.patt" id="letter-e1"  registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>

  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/R.patt" id="letter-r"  registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>

  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/I1.patt" id="letter-i1"  registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>

  <!--<a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/A2.patt" id="letter-a2"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/L.patt" id="letter-l"  registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>

  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/I2.patt" id="letter-i2"  registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>

  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/S.patt" id="letter-s"  registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>

  <a-marker preset="custom" url="https://darkscarletorchid.github.io/arQuest/assets/markers/patterns/E2.patt" id="letter-e2"  registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>
  <a-entity camera></a-entity>

</a-scene>
