<app-header></app-header>
<div style="padding: 1000px">
<a-scene embedded arjs="sourceType: webcam; trackingMethod: best; detectionMode: mono_and_matrix; matrixCodeType: 3x3;" style="height: 1000px">

  <a-marker preset="hiro" id="hiro-m" registerevents>
    <a-entity
      position="0 0 0"
      scale="1 1 1"
      rotation="0 180 0"
      obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);
            mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">
      <a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
    </a-entity>
  </a-marker>

  <!--<a-marker preset="custom" url="../../assets/markers/patterns/M.patt" id="letter-m" registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="../../assets/markers/patterns/A1.patt" id="letter-a1" registerevents>-->
    <!--<a-entity-->
      <!--id="model"-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="assets/markers/patterns/T.patt" id="letter-t"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="assets/markers/patterns/E1.patt" id="letter-e1"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="assets/markers/patterns/R.patt" id="letter-r"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="assets/markers/patterns/I1.patt" id="letter-i1"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="assets/markers/patterns/A2.patt" id="letter-a2"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="assets/markers/patterns/L.patt" id="letter-l"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="assets/markers/patterns/I2.patt" id="letter-i2"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="assets/markers/patterns/S.patt" id="letter-s"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <!--<a-marker preset="custom" url="assets/markers/patterns/E2.patt" id="letter-e2"  registerevents>-->
    <!--<a-entity-->
      <!--position="0 0 0"-->
      <!--scale="1 1 1"-->
      <!--rotation="0 180 0"-->
      <!--obj-model="obj: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmodel.obj?1521056084990);-->
            <!--mtl: url(https://cdn.glitch.com/440f72c5-f93c-4860-a34d-5e8cc9bf82d7%2Fmaterials.mtl?1521056082181)">-->
      <!--<a-animation attribute="rotation" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
    <!--</a-entity>-->
  <!--</a-marker>-->

  <a-entity camera></a-entity>

</a-scene>
</div>
