/* .example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
} */
.example-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  margin: 2% 5%;
}

.mat-table {
  overflow: auto;
  max-height: 100%;
}

.txt-cenetr {
  text-align: center;
}